version: 2 # use CircleCI 2.0
jobs:
  build:
    docker:
      - image: circleci/golang:1.17
    working_directory: /go/src/github.com/cloudfoundry-community/splunk-firehose-nozzle
    steps: # steps that comprise the `build` job
      - checkout # check out source code to working directory
      - run:
          name: Install Dependencies
          command: |
            go mod vendor
      - run:
          name: Builder
          command: make build
      - run:
          name: Run tests
          command: |
            make testall
            cp splunk-firehose-nozzle /tmp
      - persist_to_workspace:
          root: /tmp  
          paths:
            - splunk-firehose-nozzle

  deploy-nozzle:
    docker:
      - image: circleci/golang:1.17
    working_directory: /go/src/github.com/cloudfoundry-community/splunk-firehose-nozzle
    steps: # steps that comprise the `deploy` job
      - attach_workspace:
          at: /tmp
      - checkout # check out source code to working directory
      - run:
          name: Install dependencies
          command: |
            go mod vendor
            cp -R /tmp/splunk-firehose-nozzle .
      - run:
          name: Deploy nozzle
          command: |
            .circleci/update_manifest.sh
            .circleci/pre-req.sh
            cf push -f .circleci/ci_nozzle_manifest.yml -u process --random-route

  tile-builder:
    docker:
      - image: circleci/golang:1.17
    working_directory: /go/src/github.com/cloudfoundry-community/splunk-firehose-nozzle
    steps:
      - attach_workspace:
          at: /tmp
      - checkout
      - run:
          name: Tile builder
          command: |
            cp -R /tmp/splunk-firehose-nozzle .
            .circleci/tile-builder.sh
      - run:
          name: Push tile to internal s3
          command: |
            cp -R /tmp/splunk-firehose-nozzle .
            .circleci/push_tile.sh

  execute_tests:
    docker:
      - image: circleci/golang:1.17
    working_directory: /go/src/github.com/cloudfoundry-community/splunk-firehose-nozzle
    steps:
      - attach_workspace:
          at: /tmp
      - checkout
      - run:
          name: Install dependencies
          command: |
            go mod vendor
            cp -R /tmp/splunk-firehose-nozzle .
      - run:
          name: Deploy data-gen
          command: |
            .circleci/pre-req.sh
            cf push -f .circleci/data_gen_manifest.yml -u process -p tools/data_gen --random-route
            sleep 10
      - run:
          name: Nozzle Log
          command: |
            cf logs splunk-firehose-nozzle
          background: true
      - run:
          name: Prepare test environment
          command: |
            .circleci/pre-functional-test.sh
      - run:
          name: Executing tests
          command: |
            .circleci/functional-test.sh
      - run:
          name: Teardown
          command: |
            echo "Teardown deployment env"
            cf delete splunk-firehose-nozzle -f
            cf delete data_gen -f
            cf delete-org splunk-ci-org -f
          when:
            always

workflows:
  version: 2
  build-and-deploy-nozzle:
    jobs:
      - build
#       - deploy-nozzle:
#           requires:
#             - build
# #      - tile-builder:
# #          requires:
# #            - deploy-nozzle
# #          filters:
# #            branches:
# #              only: master
#       - execute_tests:
#           requires:
#             - deploy-nozzle
#           filters:
#             branches:
#               only:
#                 - develop
#                 - master
#                 - release/v1.2.2