#!/usr/bin/env bash

# UAA_ENDPOINT is /v2/info -> 'token_endpoint'
export UAA_ENDPOINT=https://uaa.bosh-lite.com
export FIREHOSE_UAA_USER=<client>
export FIREHOSE_UAA_SECRET=<secret>
export SKIP_SSL_VALIDATION=true

export ADD_APP_INFO=true
export API_ENDPOINT=https://api.bosh-lite.com
export FIREHOSE_USER=admin
export FIREHOSE_PASSWORD=admin

# DOPPLER_ENDPOINT is /v2/info -> "logging_endpoint"
export DOPPLER_ENDPOINT=wss://doppler.bosh-lite.com:4443
# possible values: ValueMetric,CounterEvent,Error,LogMessage,HttpStartStop,ContainerMetric
export EVENTS=ValueMetric,CounterEvent

export SPLUNK_TOKEN=<token>
export SPLUNK_HOST=<hec host, something like https://example.cloud.splunk.com:8088>
export SPLUNK_INDEX=<index>

go run main.go
