#!/usr/bin/env bash

export NOZZLE_UAA_URL=https://uaa.bosh-lite.com
export NOZZLE_USERNAME=<username>
export NOZZLE_PASSWORD=<password>
export NOZZLE_TRAFFIC_CONTROLLER_URL=wss://doppler.bosh-lite.com:4443
export NOZZLE_FIREHOSE_SUBSCRIPTION_ID=splunk-firehose-subscription-id
export NOZZLE_INSECURE_SKIP_VERIFY=true

export NOZZLE_SPLUNK_TOKEN=<token>
export NOZZLE_SPLUNK_HOST=<host, something like https://example.cloud.splunk.com:8088>

go run main.go
