#!/usr/bin/env bash

export SKIP_SSL_VALIDATION=true

export ADD_APP_INFO=true
export API_ENDPOINT=https://api.bosh-lite.com
export API_USER=admin
export API_PASSWORD=admin

# possible values: ValueMetric,CounterEvent,Error,LogMessage,HttpStartStop,ContainerMetric
export EVENTS=ValueMetric,CounterEvent

export SPLUNK_TOKEN=<token>
export SPLUNK_HOST=<hec host, something like https://example.cloud.splunk.com:8088>
export SPLUNK_INDEX=<index>

go run main.go
