#!/usr/bin/env bash

export SKIP_SSL_VALIDATION=true

# UAA_ENDPOINT is /v2/info -> 'token_endpoint'
export UAA_ENDPOINT=https://uaa.bosh-lite.com

export ADMIN_UAA_USER=<client>
export ADMIN_UAA_SECRET=<secret>

export FIREHOSE_UAA_USER=<client>
export FIREHOSE_UAA_SECRET=<secret>

go run provision/provision.go
